<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="logo-busqueda">
                <img class="main-logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
                <div class="busqueda">
                    <div class="barra-busqueda">
                        <input type="text" name="search" placeholder="Buscar productos, marcas y mas">
                    </div>
                    <i class="fas fa-search lupa"></i>
                </div>
            </div>
            <div class="title-cuotas">
                <h2 class="compra-cuotas" ><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</div>
                </h2>
            </div>
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <nav class="navegacion-barra">
            <ul class="site">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="login-nav-bar">
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="box-form-login">
            <form action="/login" method="POST" class="form-login">
                <div>
                    <input type="text" name="usuario" id="usuario" placeholder=" Nombre de usuario" required>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder=" Elegí tu contraseña" required>
                </div>
                <div class="box-button">
                <button type="submit" class="send-button">Enviar</button>
                </div>
            </form>
         </div>
    </main>
    <footer class="main-footer">
        <div class="box-section-footer">
            <section>
                <i class="icono-footer fas fa-credit-card"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenes cutoas sin interes con tarjeta o 
                    efectivo en puntos de pago.¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <i class="icono-footer fas fa-gift"></i>
                <h3>Envio gratis desde $2.500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. 
                    Es un buen beneficio de Mercado Puntos.
                </p>
            </section>
            <section>
                <i class="icono-footer fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer 
                    porque estas siempre protegid@.
                </p>
            </section>
        </div>
        <div class="box-copyright">
        <small>Copyright &copy; 1999-2020 MercadoLiebre S.R.L</small>
        </div>
    </footer>
    
</body>
</html>